.deposit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vmin;
  margin: auto;
  padding: 5vmin;
}

.header {
  position: relative;
  text-align: center;
}

.header .glyphicon {
  position: absolute;
  left: 0;
  transform: rotate(90deg);
  cursor: pointer;
}

.amount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vmin;
  font-size: 8vmin;
  color: white;
}

.amount .icon {}

.amount .value {
  padding: 0 1vmin;
}

.list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.list-unstyled {
  display: flex;
  flex-direction: column;
  width: 50vmin;
  margin: 0 2vmin;
}

.list-unstyled li {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 9vmin;
  padding: 0 2vmin;
  border: 1px solid white;
}

.note,
.coin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5vmin;
  width: 12vmin;
  margin-right: 2vmin;
}

.note {
  background-color: white;
}

.note-cavity,
.coin-circle {
  height: 4vmin;
  width: 4vmin;
  border-radius: 100%;
}

.note-cavity {
  background-color: #2bbed3;
}

.coin-circle {
  background-color: white;
}

.money-count {
  color: white;
  font-size: 3vmin;
}

.text-center {
  color: white;
  font-size: 5vmin;
  padding: 10vmin;
  font-weight: bold;
}
